@{
    ViewBag.Title = "GreenLabel";
}

<div id="concept" class="container-fluid">
    <div class="row text-center">
        <h2>Concept</h2>
        <center>
            <img class="img-responsive" src="~/images/" width="800" height="380" />
        </center>
    </div>
    <br />
    <div class="row text-center">
        <div class="col-sm-10 col-sm-offset-1">
            <p>The module GreenLabel can be installed on every kind of productive system such as SolarPanel, WindTurbine ...</p>
            <p>The producers using our system can control at any time their production and consumption and, are alerted when a device as a mechanical default. Furthermore they are participating to the development of renewable energies</p>
            
        </div>
    </div>
    <br /><br />
</div>


<div id="team" class="container-fluid team-text">
    <h2 class="text-center" style="color :#393939;">TEAM</h2>
    <div class="row text-center">
        <div class="col-sm-4">
            <img class="img-circle" src="~/images/Marc.JPG" alt="Marc" width="100" height="100">
            <h4 style="color :#393939;">Marc-Yves MAROUN</h4>
            <p style="color :#393939;">Sbire</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="~/images/thomas.JPG" alt="Thomas" width="100" height="100">
            <h4 style="color :#393939;">Thomas HIVERT</h4>
            <p style="color :#393939;">Sbire</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle" src="~/images/Alexis.jpg" alt="Alexis" width="100" height="100">
            <h4 style="color :#393939;">Alexis BOTTEMER</h4>
            <p style="color :#393939;">Sbire</p>
        </div>
        <div class="row text-center">
            <div class="col-sm-4 col-sm-offset-2">
                <img class="img-circle" src="~/images/XavierM.JPG" alt="Xavier" width="100" height="100">
                <h4 style="color :#393939;">Xavier MALLAT DESMORTIERS</h4>
                <p style="color :#393939;">Sbire</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle" src="~/images/XavierD.jpg" alt="Xavier" width="100" height="100">
                <h4 style="color :#393939;">Xavier DUPONT</h4>
                <p style="color :#393939;">Sbire</p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <p style="color :#393939;">The GreenLabel team is composed of 5 engineering students from the school ISEN Toulon, GreenLabel is our project made during the IoT Makers Race in 2017.</p>
        </div>
    </div>
</div>
</div>