@model IEnumerable<ISEN.DotNet.Library.Models.Statement>

@{
    ViewBag.Title = "Statement";
    Layout = "_Layout";
}
<h2>Statement</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Hour
                </th>
                <th>
                    Production
                </th>
                <th>
                    Consumtion
                </th>
                <th>
                    Equipment
                </th>
            </tr>
            </thead>
            <tbody>
                @foreach (var statement in Model)
                {
                    <tr>
                        <td>@statement.Date</td>
                        <td>@statement.Production</td>
                        <td>@statement.Consommation</td>
                        <td>@statement.Equipment.IdObject</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>