@model ISEN.DotNet.Library.Models.AccountUser

@{
    ViewData["Title"] = "Detail";
    Layout = "_Layout";
}

<h2>Detail</h2>

<div class="form-horizontal">
    <h4>AccountUser</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Id" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <label asp-for="Id" class="col-md-2 control-label">@Model.Id</label>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <label asp-for="UserName" class="col-md-2 control-label">@Model.UserName</label>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <label asp-for="Email" class="col-md-2 control-label">@Model.Email</label>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

