@model System.Collections.Generic.IEnumerable<ISEN.DotNet.Library.Models.Equipment>

@{
    ViewBag.Title = "Equipments";
    Layout = "_Layout";
}

<h2>My Equipments</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Max Production
                    </th>
                    <th>
                        Type
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var equipment in Model)
                {
                    <tr>
                        <td>@equipment.Id</td>
                        <td>@equipment.Name</td>
                        <td>@equipment.MaxProduction</td>
                        <td>@equipment.Type</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>